@import "../../app.scss";

.services{
    background: linear-gradient(180deg,#0c0c1d,#111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer{
        flex:1;
        align-self:flex-end;
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        // @include mobile{
        //     align-items: center;
        //     text-align: center;
        //     flex-direction: column;
        //  }

        p{
            font-weight: 600;

            @include mobile{
                display: none;
             }
            
            
        }
        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid white;

            @include mobile{
              display: none;
                
             }
        }

    }
    .titleContainer{
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mobile{
            width: 100%;
            // margin-top: 50px;
         }

        .title{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;

            @include mobile{
               
                gap: 10px;
                flex-direction: column;
             }

            img{
                width: 350px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
                @include mobile{
                    width: 200px;
                    height: 80px;
                 }
            }
            h1{
                font-size: 50px;
                font-weight: 100;
                color: white;
                margin: 10px;
                @include mobile{
                    font-size: 20px;
                    margin:5px;
                    font-weight: lighter;
                }

                
            }
            button{
                background-color: rgb(58, 105, 147);
                padding: 15px;
                border-radius: 50px;
                color: white;
                font-size: 30px;
                border: none;

                @include mobile{
                    font-size: 20px;
                    margin-bottom: 30px;
                 }
            }
        }

    }
    .listContainer{
        display: flex;
        justify-content: space-between;
        flex: 2;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
        cursor: grab;
        overflow-x: auto;     
        overflow-y: hidden;

        &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

        @include mobile{
            flex-direction: column;
            max-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         @include tablet{
            margin: 30px;
            gap: 10px;
         }
       


        .box{
            padding: 20px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
           flex: 0 1 auto;          // allows box to expand according to content but not shrink below min-width
           min-width: 290px;
            

            h2{
                @include mobile{
                    font-size: 20px;
                  }
            }
            p{
                @include mobile{
                    font-size: 18px;
                    margin: 5px;
                  }
            }
            
        }

        
        

    }
}